section {
  margin-top: 52px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  background: #eaecf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 8px;
  height: 80px;

  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}
a sub {
  font-size: 12px;
  margin-top: 5px;
  max-width: 500px;
}

@media (max-width: 500px) {
  section {
    margin-top: 32px;
  }

  a {
    font-size: 14px;
    padding: 0;
  }

  a sub {
    font-size: 10px;
  }
}
