div {
  text-align: center;
  margin-top: 30px;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

#twitter {
  font-size: 20px;
  margin-top: 24px;
  font-weight: bolder;
}

#slack {
  display: none;
}
